.Item {
    width: calc(33.33% - 20px); /* Establece el ancho de cada Item */
    margin: 10px; /* Margen entre los Items */
    float: left; /* Hace que los Items se coloquen uno al lado del otro */
    box-sizing: border-box; /* Incluye el borde y el relleno en el cálculo del ancho */
}